
body{}

:root{
    --Montserrat: 'Montserrat', sans-serif;
    --Raleway: 'Raleway', sans-serif;  
    --transition: all .4s ease-in-out;
    --padding: 80px 0;
    --uppercase: uppercase;
    --color: #efefef ;
    --white: #fff;
    --theme-color: #ff9b1a;
    --bold: 700;
    --extra: 800;
}

p{
    margin-bottom: 0;
}

a ,:hover{
    text-decoration: none;
}


                                /************* Header_CSS  *************/

.header{}

.top_header {
	background: var(--color);
	padding: 8px 0;
}
.header_left{}
.header_left p {
	font-size: 12px;
    color: #7f7f7f;
    font-family: var(--Montserrat);
    transition: var(--transition);
}


.header_right ul li a {
	color: #7f7f7f;
	display: inline-block;
	text-decoration: none;
	font-size: 12px;
	text-transform: var(--uppercase);
	padding: 0 15px;
    font-weight: 500;
    font-family: var(--Montserrat);
    transition: var(--transition);
   

}
.header_right ul li a:hover{
    color: #333;
}


.bottom_header{}

.navbar {
	background: var(--white);
	align-items: center;
	padding: 24px 0;
}

.navbar-light .navbar-nav .nav-link {
	color: #161616;
	font-size: 14px;
	padding: 10px 12px;
	font-family: var(--Montserrat);
	text-transform: var(--uppercase);
	border-radius: 30px;
    font-weight: 500;
    transition: var(--transition);
}

.navbar-light .navbar-nav .nav-link:hover{
    color: var(--white);
    background: var(--theme-color);
}

.btn_custom{
    color: var(--white) !important;
	font-size: 14px;
	padding: 10px 12px;
	font-family: var(--Montserrat);
	text-transform: var(--uppercase);
	border-radius: 30px;
    font-weight: 500;
    transition: var(--transition);
    background: var(--theme-color);
}

.btn_custom:hover{
    color: var(--white);
}

.btn{
    
    position: relative;
    z-index: 1;
}

.btn::after{
    content: "";
    position: absolute;
    width: 0%;
    height: 100%;
    top: 0;
    left: 0;
    border-radius: 30px;
    background: #000;
    transition: all .3s ease-in-out;
    z-index: -1;

}
.btn:hover::after{
    width: 100%;
}

                          /*******************Banner_Section_CSS *******************/

.banner_section{
    background: url(../img/banner.png) no-repeat center center;
    background-size: cover;
    padding: 180px 0;
    position: relative;
    z-index: 1;
}

.overly{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba( 0, 0, 0, .6);
    z-index: -1;
}

.banner_title{}
.banner_title h1 {
	font-size: 52px;
	color: var(--color);
	font-family: var(--Raleway);
	font-weight: 800;
	margin-bottom: 40px;
}

.banner_content {
    text-align: center;
    font-family: var(--Raleway);
}
.banner_content h4 {
	font-size: 20px;
	font-weight: 700;
	color: var(--color);
	
}
.banner_content span {
	display: block;
	font-size: 14px;
	color: var(--color);
	
}

.banner_section ul {
	margin-top: 50px;
}
.banner_section ul li {
	padding: 10px;
}
.banner_section ul li a {
	padding: 10px 20px;
	font-size: 16px;
	font-family: var(--Montserrat);
    border: 1px solid var(--theme-color);
    transition: var(--transition);
}

.banner_section ul li a:hover{
    background: #0000;
    border: 1px solid var(--color);
}

.btn_reverse {
	border: 1px solid var(--color) !important;
	background: #0000;
}
.btn_reverse:hover{
    background: var(--theme-color) !important;
    border-color: var(--theme-color) !important;
    

}

/********************** Feature_Section_CSS********************/

.feature_section{
    padding: var(--padding);
}

.feature_content {
	text-align: center;
	border: 1px solid #e1e1e1;
	border-radius: 10px;
    padding: 40px 20px; 
    position: relative;
    z-index: 1;
    transition: var(--transition);
}

.feature_content:hover span, .feature_content:hover p{
    color: var(--color);
}

.feature_content:hover img{
    filter: sepia(1);
}

.feature_content::before{
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    opacity: 0;
    z-index: -1;
    transform: scale(.5);
    transition: var(--transition);
    border-radius: 10px;
    cursor: pointer;
    background: #ff6f02;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, #d9b303, #ff6f02);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #d9b303, #ff6f02); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.feature_content:hover::before{
    opacity: .88;
    transform: scale(1);
}
.feature_content::after{
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    opacity: 0;
    z-index: -2;
    transform: scale(.5);
    transition: var(--transition);
    cursor: pointer;
    background: url(../img/bitcoin.png) no-repeat center center;
    background-size: cover;
    border-radius: 10px;
    
}

.feature_content:hover::after{
    opacity: 1;
    transform: scale(1);
}

.feature_content img {
	height: 95px;
}

.feature_content span {
	display: block;
	color: #000;
	font-size: 17px;
	font-family: var(--Montserrat);
	font-weight: 500;
	margin: 25px 0;
}

.feature_content p {
	color: #545454;
	font-size: 14px;
	font-family: var(--Montserrat);
	font-weight: 400;
}


/*********************************Service_Section_CSS***********************************/

.service_section{
    padding: var(--padding);
    background: #fafafa;
}

.heading{
    font-family: var(--Montserrat);
    margin-bottom: 50px;
}

.heading h2{
    font-size: 24px;
    font-weight: var(--bold);
    color: #2b2b2b;
    text-transform: var(--uppercase);
}
.heading p{
    color: #6e6e6e;
    font-size: 14px;
    max-width: 520px;
    margin: auto;
    margin-top: 25px;
    margin-bottom: 25px;
    line-height: 28px;
}

.heading span{
    display: block;
    width: 70px;
	height: 3px;
    margin: auto;
    background: var(--theme-color);

}

.service_content{
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 20px;
    transition: var(--transition);
    cursor: pointer;
    transition: var(--transition);
    cursor: pointer;
}
.service_content:hover {
	background: var(--white);
	transform: translateY(8px);
	box-shadow: 3px 8px 15px 0 #dbd4d4;
}
.service_content img{
    
}
.service_content span{
    display: block;
    color: #2b2b2b;
    font-family: var(--Raleway);
    font-weight: var(--bold);
    font-size: 18px;
    margin: 20px 0;
}
.service_content p{
    color: #424242;
    font-family: var(--Raleway);
    font-weight: 400;
    font-size: 14px;
    line-height: 26px;
}

.service_button a{
    color: #2b2b2b;
    font-family: var(--Raleway);
    padding: 10px 20px;
    font-size: 14px;
    border: 1px solid #8e8e8e;
    border-radius: 30px;
    text-decoration: none;
    display: inline-block;
    text-transform: var(--uppercase);
    margin-top: 80px;
    transition: var(--transition);
    cursor: pointer;
}
.service_button a:hover{
    color: #fff;
    background: var(--theme-color);
    transform: scale(1.1);
    border-color: var(--theme-color);
}

/***********************************Steps_Section_CSS ******************************/

.steps_section{
    background: url(../img/slider.png) no-repeat center center;
    background-size: cover;
    padding-top: 80px;
    position: relative;
    z-index: 1;
}

.iphone_steps {
	position: relative;
	margin-top: 40px;
}

.iphone_steps img{}
.iphone_steps .logo {
	position: absolute;
	left: 50%;
	top: 60%;
	transform: translate(-50%, -60%);
}

.steps{}
.steps h2{   
    color: var(--white);
    font-size: 24px;
    font-family: var(--Raleway);
    font-weight: var(--bold);
    text-transform: uppercase;
    position: relative;   
}

.steps h2::after{
    content: "";
    position: absolute;
    background: var(--theme-color);
    width: 70px;
    height: 3px;
    top: 40px;
    left: 0;
}

.step{
    margin-top: 60px;
}

.steps_icon{

}
.steps_icon span{
    display: block;
    width: 70px;
    height: 70px;
    border: 2px solid var(--theme-color);
    transform: rotate(45deg);
    border-radius: 10px;
    animation: cholbe 10s ease-in-out infinite;
    animation-direction: normal;
    animation-direction: alternate-reverse;
}

@keyframes cholbe{
    from{
        transform: rotate(45deg);
    }

    to{
        transform: rotate(360deg);
    }
}

.steps_content{}
.steps_content h3{
    color: var(--white);
    font-size: 18px;
    font-family: var(--Raleway);
    font-weight: var(--bold);
    margin-bottom: 15px;
}
.steps_content p{
    color: var(--white);
    font-size: 14px;
    font-family: var(--Raleway);
    font-weight: 400;
    max-width: 470px;
}


/**********************************Money_Section_CSS*************************************/

.money_section{
    background: #ff9b1a;
    padding: 70px 0 60px 0;
}

.money_content{
    text-align: center;
}
.money_content h1{
    color: var(--white);
    font-size: 50px;
    font-family: var(--Raleway);
    font-weight: var(--bold);
    margin-bottom: 20px;
}
.money_content span{
    display: block;
    color: var(--white);
    font-size: 18px;
    font-family: var(--Raleway);
    text-transform: var(--uppercase);
}


/**********************************Support_Section_CSS*************************************/


.support_section{
    padding: var(--padding);
}

.support_content{
    position: relative;
    
}
.support_content img{
    margin-top: 100px;
}

.support{
    position: relative;
}
.support span{
    display: inline-block;
    height: 60px;
    width: 60px;
    color: #f05154;
    line-height: 60px;
    font-size: 18px;
    position: relative;
} 

.support span::after{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    border: 2px solid;
    border-radius: 10px;
    transform: rotate(45deg);
    transition: var(--transition);
    cursor: pointer;
}

.support span:hover::after{
    transform: rotate(90deg);
}

.support span i{
  
}

.support p{
    margin-top: 15px;
    font-size: 18px;
    font-family: var(--Montserrat);
    color: #252525;
}

.support1{
    position: absolute;
    top: 0%;
    left: 22%;
}
.support1 span{
    color: #f05154;
}


.support2 {
	position: absolute;
	top: 0;
	right: 20%;
}
.support2 span{
    color: #00aced;
  
}
.support2 p{}

.support3 {
	position: absolute;
	top: 54%;
	left: 18%;
	transform: translate(-54%, -18%);
}
.support3 span{
    color: #77d37b;
}


.support4 {
	position: absolute;
	top: 50%;
    right: 12%;
    
}
.support4 span{
    color: #77d37b; 
}


.support5 {
	position: absolute;
	top: 100%;
	left: 25%;
}
.support5 span{
    color: #00aced;
}

.support6 {
	position: absolute;
	top: 100%;
	right: 20%;
}
.support6 span{}


.team{
    margin-top: 180px;
}
.team_content{}

.team_content img{}

.team_content h3{
    color: #1e1e1e;
    font-size: 18px;
    font-weight: 500;
    font-family: var(--Montserrat);
    margin-top: 30px;
}

.team_content span{
    display: block;
    color: var(--theme-color);
    font-size: 14px;
    font-weight: 500;
    font-family: var(--Montserrat);
    text-transform: var(--uppercase);
}


/****************************Consultation_Section_CSS ************************************/

.consultation_section{
    background: url(../img/slider2.png) no-repeat center center;
    background-size: cover;
    padding: var(--padding);
    position: relative;
    z-index: 1;
}
.consultation_section .heading{
}

.consultation_section .heading h2{
    color: var(--white);
    margin-bottom: 15px;
}

.table_form{
    
}
.table_form input {
	color: #fff !important;
	height: 45px;
	border-radius: 10px;
	border: 2px solid #fff;
	background: #fff0;
	font-size: 18px;
    width: 100%;
    padding: 0 20px;
}

.textarea{
    margin-top: 40px;
}
.textarea textarea{
    color: var(--white) !important;
	border-radius: 10px;
	border: 2px solid #fff;
    background: #fff0;
    width: 100%;
    padding:20px;
    font-size: 18px;
}

.button{
    margin-top: 40px;
}
.button button{
    padding: 10px 30px;
}


/************************************Blog_Section_CSS*******************************/

.blog_section{
    padding: var(--padding);
}

.blog_content{
    border: 1px solid #e5e5e5;
    border-radius: 10px;
}
.blog_content img{}
.blog_content ul{
    margin-top: 5px;
}

.blog_content ul li {
	color: #6e6e6e;
	font-size: 12px;
    font-family: var(--Montserrat);
    margin-right: 10px;
}

.blog_content ul li span{
    display: block;
    width: 55px;
    height: 55px;
    line-height: 55px;
    text-align: center;
    font-size: 20px;
    color: var(--white);
    background: #f26c4f;
    border-radius: 50%;
    margin-top: -35px;
}

.blog_content ul li span i{}
.blog_content h5{
    font-size: 16px;
    color: #000;
    font-family: var(--Montserrat);
    font-weight: var(--bold);
    padding: 20px 20px 10px 20px;
    line-height: 26px;
}
.blog_content p{
    color: #6e6e6e;
    font-size: 14px;
    font-family: var(--Montserrat);
    padding: 0 20px;
    margin-bottom: 20px;
}


/*************************************Feedback_Section_CSS********************************/

.feedback_section{
    padding: var(--padding);
    background: #fafafa;
}

.carousel-item{
    min-height: 550px;
}

.carousel-caption {
	color: #000;

}

.carousel-caption h5{
    color: #1e1e1e;
    font-size: 18px;
    font-weight: 700;
    font-family: var(--Montserrat);
    margin-top: 30px;
}
.carousel-caption strong{
    display: block;
    color: var(--theme-color);
    font-size: 14px;
    font-weight: 500;
    font-family: var(--Montserrat);
    text-transform: var(--uppercase);
    margin-top: 15px;
}

.client_img{
    position: relative;
    display: inline-block;
    margin-top: 80px;
}
.client_img img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
    object-position: center;
}
.client_img span {
	display: block;
	position: absolute;
	width: 40px;
	height: 40px;
	line-height: 40px;
	text-align: center;
	top: 70px;
	right: 0;
	color: #fff;
	background: #fb8f2c;
	border: 2px solid #fff;
	border-radius: 50%;
}

.carousel-control-prev-icon{
    background: url();
    color: #333;
    font-size: 20px;
}

.carousel-control-next-icon{
    background: url();
    color: #999999;
    font-size: 20px;
}


/**********************************Footer_Section_CSS********************************/

.footer_top{
    background: #101010;
    padding: var(--padding);
    border-top: 2px solid var(--theme-color);
    font-family: var(--Montserrat);
    font-weight: 500;
}

.p{
    font-size: 18px;
    color: #fff;
    font-family: var(--Montserrat);
    font-weight: 600;
    text-transform: var(--uppercase);
    margin-bottom: 20px;
}

.span{
    display: block;
    height: 3px;
    width: 40px;
    background: #fb8f2c;
    margin-bottom: 25px;
}

.footer_logo{}
.footer_logo img{
    margin-bottom: 30px;
}
.footer_logo p{
    color: #989898;
    font-size: 15px;
    text-align: justify;
    margin-bottom: 30px;
}
.footer_logo span{}

.footer_logo ul{
    padding-left: 0;
}
.footer_logo ul li{
    list-style: none;
    padding: 0 5px;
}
.footer_logo ul li a{
    text-decoration: none;
    display: inline-block;
    color: #3d3c3a;
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    border: 1px solid #3d3c3a;
    border-radius: 50%;
    transition: var(--transition);
    cursor: pointer
}
.footer_logo ul li a:hover{
    color: #00aced;
    border: 1px solid #00aced;
}

.footer_address{}

.footer_address ul{
    padding-left: 0;
}
.footer_address ul li {
	list-style: none;
	margin-bottom: 20px;
}
.footer_address ul li i{
    color: #989898;
    font-size: 18px;
    margin-right: 10px;
    margin-top: 10px;
}
.footer_address ul li span{
    color: #989898;
    font-size: 14px;
}

.footer_menu{}

.footer_menu ul{
    padding-left: 0;
}
.footer_menu ul li{
    list-style: none;
    margin-top: 5px;
}
.footer_menu ul li a{
    text-decoration: none;
    display: inline-block;
    color: #989898;
    font-size: 14px;
    transition: var(--transition);
}
.footer_menu ul li a:hover{
    color: rgb(207, 197, 197);
}

.footer_newsletter{}
.footer_newsletter strong{
    display: block;
    list-style: none;
    color: #989898;
    font-size: 14px;
    font-weight: 500;
}

.footer_newsletter form{
    position: relative;
}
.footer_newsletter input{
    margin-top: 30px;
    font-size: 12px;
    color: rgb(126, 119, 119);
    height: 45px;
    padding: 0 20px;
    border-radius: 30px;
    border: none;
}
.footer_newsletter button{
    color: var(--white);
    width: 45px;
    height: 45px;
    background: #fb8f2c;
    border-radius: 50%;
    border: 0;
    position: absolute;
    right: 0;
    top: 0;
}

.footer_bottom{
    background: #000000;
    padding: 20px 0;
}

.copyright{}
.copyright p{
    color: #504e4e;
    font-size: 12px;
    font-family: var(--Montserrat);
    font-weight: 500;
}

.bottom_menu{}
.bottom_menu ul{
    padding-left: 0;
}
.bottom_menu ul li{
    list-style: none;
    padding: 0 15px;
}
.bottom_menu ul li a {
	text-decoration: none;
	display: inline-block;
	color: #737272;
	font-size: 14px;
	font-family: var(--Montserrat);
	text-transform: var(--uppercase);
    font-weight: 500;
    transition: var(--transition);
}

.bottom_menu ul li a:hover{
    color: rgb(207, 197, 197);
}









